name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"   # every 12 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate the snake files
        uses: Platane/snk@v3
        with:
          github_user_name: Vasundhara-331
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Upload to output branch
        uses: actions/upload-artifact@v3
        with:
          name: snake
          path: dist
